@model RentalEquipmentManagementLogic.Models.RentalRequest

@{
    ViewData["Title"] = "Rental Request Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Rental Request Details</h1>

<div>
    <h4>RentalRequest</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RentalStartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RentalStartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalCost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        @if (Model.Customer != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Customer.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Customer.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Customer.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Customer.Email)
            </dd>
            // Add other customer details you want to display
        }
        
       
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
       
      
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>